<div class=container>
	<div class = "row justify-content-center">
		<div class="col12 col-sm-6">
			<h2 class="text-center">Edit Post</h2>		

			<%= render 'partials/form' %>
				
		</div>
	</div>
</div>